.homeButton {
position: fixed;
top: 15px;
left: 15px;
}
.signUpButton {
    margin: 5px;
/* position: fixed;
top: 15px;
right: 90px; */

}
.loginButton {
    margin: 5px;
    /* position: fixed;
    top: 15px;
    right: 15px; */
}
header {
    text-align: center;
}
footer {
    text-align: center;
}
